#circle0{
  top:8%;
  left:28%;
}
#circle1{
  top:8%;
  right:28%;
}
#circle2{
  left:8%;
}
#circle3{
  right:8%;   
}
#circle4{
  bottom:8%;
  left:28%;
}
#circle5{
  bottom:8%;
  right:28%;
}
#circle6{
  top:10%;
  left:28%;
}
#circle7{
  top:10%;
  right:28%;
}
#circle8{
  left:10%;
}
#circle9{
  right:10%;
}
#circle10{
  bottom:10%;
  left:28%;
}
#circle11{
  bottom:10%;
  right:28%;
}
#circle12{
  top: 14%;
  left: 28%;
}
#circle13{
  top: 14%;
  right: 28%;
}
#circle14{
  left: 14%;
}
#circle15{
  right: 14%;
}
#circle16{
  bottom: 14%;
  left: 28%;
}
#circle17{
  bottom: 14%;
  right: 28%;
}